
.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: #f8f9fa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: aqua;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-container input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.form-container input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13,110,253,0.3);
}

.form-container button {
    padding: 10px;
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.form-container button:hover {
    background: #094db1;
}
