
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #007bff;
}


.container {
  max-width: 900px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}


label {
  font-weight: bold;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.error {
  color: red;
  font-size: 12px;
}

.success {
  color: green;
  margin-top: 10px;
  text-align: center;
}

a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background: #007bff;
  color: white;
}

#search {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

#noData {
  text-align: center;
  margin-top: 15px;
  color: #777;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 20px;
  }
}
